{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Recuperar contraseña - Blessed Barbershop</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://png.pngtree.com/png-vector/20220818/ourmid/pngtree-barbershop-pole-decoration-png-image_6115703.png" type="image/png">

</head>
<body>
<div class="login-container">

<div class="login-card">
        <a href="{% url 'login' %}" class="btn-close" aria-label="Close" style="position: absolute; top: 15px; right: 15px; font-size: 15px;"></a>
  <h2>Recuperar Contraseña</h2>
  {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Enviar código</button>
  </form>
  
</div>
</div>
</body>
</html>
